/*ディスプレイのデザイン*/
.display{
    width: -webkit-fill-available;
    text-align: right;
    height: 50px;
    background-color: gray;
    border:2px solid black;
    box-sizing: border-box;
}
/*ボタンのデザイン*/
#Btn{
  width:50px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  padding:10px;
  box-sizing: border-box;
  background:gray;
  border-radius: 20px;
}

.BtnWide{
  width:100px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  padding:10px;
  box-sizing: border-box;
  background:gray;
  border-radius: 20px;
}

/*ボタンが触れた時、押した時のホバー*/
#Btn:hover{
    opacity:0.5;
}

.BtnWide:hover{
    opacity:0.5;
}

/*クリック時のhover*/

